<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

  <% if flash[:success] %>
      <div id="success">
      	<%= flash[:success] %>      	
      </div>
  <% end %>

  <% if flash[:danger] %>
      <div id="danger">
      	<%= flash[:danger] %>      	
      </div>
  <% end %>

  <%= yield %>

</body>
</html>
